
#turn on url rewriting 
Options +FollowSymlinks
RewriteEngine on

#remove the need for .php extention 
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^$ /SN_Input.php
RewriteRule ^view/([^/]+) /SN_View.php/$1 [NC]
RewriteRule ^([A-Za-z0-9-]+)/?$ /SN_Forward.php?short=$1 [NC]


